# DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
DB_HOST=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_TIME_MIN=
JWT_REFRESH_TOKEN_TIME_DAY=

# Email
EMAIL_VERIFICATION_TOKEN_TIME_HOURS=
EMAIL_PASSWORD_RESET_TOKEN_TIME_HOUR=